body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main-sudoku-board {
    
    height: 450px;
    width: 450px;
    margin: 100px auto;
    border: 3px solid black;

    display: flex;
    flex-wrap: wrap;
}